@page "/words-test"
@inject IBusinessLogic _business;



<div class="container">
    <div class="row  d-flex justify-content-center  mb-4">
        
        <div class="col-6  main-word alert-@mainWordStyle">
            <span class="">@mainWord.WordText</span>
        </div>

    </div>
  
    <div class="row d-flex justify-content-center">
        @for (int i = 0; i < 4; i++)
        {
            <SelectedWord MainWord="mainWord" TestWord="words[i]" ResultStyle="@resultStyle" styleMainWord="ChangeStyleMainWord"></SelectedWord>
        }
      
    </div>
    
    <div class="row ">
        <div class="col-6">
        </div>
        <div class="col-6 text-center">
            <button class="btn-next-test " @onclick="ResetWord">Next test</button>
        </div>
    </div>
    


</div>

@code {
    Word mainWord ;
    List<Word> words;
    Random rnd = new Random();
    string resultStyle = "light";
    string mainWordStyle = "light";
    int rndWord = 0;
    
    
    protected override void OnInitialized()
    {
         
        words = _business.GetFourWordsForTestWords();
        mainWord = words.ElementAt(rnd.Next(0, words.Count));
    }
    

    void ChangeStyleMainWord(string style)
    {
        mainWordStyle = style;
        
    }

    void ResetWord()
    {
        words = _business.GetFourWordsForTestWords();
        mainWord = words.ElementAt(rnd.Next(0, words.Count));
        resultStyle = "light";
        mainWordStyle = resultStyle;
    }

}